* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background: #eee;
}

.rail {
  height: 100vh;
  display: flex;
  padding: 50px 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  background: #fff;
  box-shadow: 2px 0 6px 0 rgba(0, 0, 0, 0.25);
  width: max-content;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 160px;
}

p {
  color: #754ff6;
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
}

.orange p {
  color: #e5807c;
}
